main {
  article {
    .content-search {
      margin: -1.25rem 0 1rem 0;
    }

    .content-header,
    .content-categories {
      padding: 0 2rem 2rem 2rem;
      text-align: center;

      .meta {
        padding-bottom: 0.4rem;
      }

      .tags,
      .categories {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
        margin: 0;

        a {
          border: 1px solid $border-light;
          border-radius: 8px;
          color: $text-bright;
          display: inline-block;
          font-size: 0.9rem;
          line-height: normal;
          padding: 0.4rem 0.6rem;
          vertical-align: middle;
        }

        a:hover {
          background: $reverse;
          border-color: $primary;
          color: $primary;
        }
      }
    }

    .content {
      p,
      ul,
      ol {
        font-size: 1.3rem;
        margin: 0 0 2rem;
      }

      .highlight,
      blockquote {
        border-radius: 8px;
        border: 1px solid $border-light;
        font-size: 1.3rem;
        margin: 2.5em 0;
      }

      .highlight {
        background-color: #282828;

        pre {
          width: 95%;
          margin: 1rem;
          overflow-x: auto;
        }
      }

      blockquote {
        background-color: $background-code;
        font-family: monospace;

        p {
          margin: 0;
          padding: 1rem;
        }

        blockquote {
          border: none;
          font-style: italic;
          margin: 0 0 0 2rem;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .prevnext {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    a {
      border-bottom: none;
      font-weight: 600;
      max-width: 49%;
    }

    .prev {
      margin-right: auto;
    }

    .next {
      margin-left: auto;
      text-align: right;
    }
  }
}
