img {
  margin: 0 auto 2rem auto;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: 12px;
}

figure {
  display: table;
  margin: 0 auto;

  img.with-caption {
    margin-bottom: 0;
  }

  figcaption {
    display: table-caption;
    caption-side: bottom;
    margin: 0.5em 1em 2em 1em;
    font-size: 0.8rem;
    text-align: center;
  }
}
