$primary: #fdb54a;
$secondary: #ffd479;
$background: #272E33;
$background-code: #2b303b;
$border: #111;
$border-light: #444;
$dark-opacity: rgba(0, 0, 0, 0.2);
$link: #fff;
$navbar: #181818;
$navbar-hover: #272727;
$reverse: $border;
$text: #D3C6AA;
$text-bright: #fff;
$text-heading: $primary;

$font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;