{{ define "main" }}
<article class="h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container">
        <header class="content-header">
            {{ if eq .Section "posts" }}
            <div class="meta">
                <time class="dt-published" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format
                    "Monday, 2 January, 2006" }}</time>
            </div>
            {{ end }}
            <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
            {{ if eq .Section "posts" }}{{ if .Params.tags }}
            <nav class="tags" aria-label="Tags">
                <ul>
                    {{ range .Params.tags }}
                    <li><a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
            </nav>
            {{ end }}{{ end }}
        </header>

        <section class="content e-content" itemprop="articleBody">
            {{- with $featured_image := index .Params.images 0 -}}
            {{- $image := resources.Get $featured_image -}}
            {{- with $image -}}
            {{- $imgSrc := "" -}}
            {{- $imgSrcSet := slice -}}
            {{- with $widths := site.Params.imageSizes -}}
            {{- range $widths -}}
            {{- $srcUrl := (printf "%gx" . | $image.Resize).RelPermalink -}}
            {{- if eq $imgSrc "" -}}
            {{- $imgSrc = $srcUrl -}}
            {{- end -}}
            {{- $imgSrcSet = $imgSrcSet | append (printf "%s %gw" $srcUrl .) -}}
            {{- end -}}
            {{- $imgSrcSet = (delimit $imgSrcSet ",") -}}
            {{- end -}}
            <figure>
                {{- if gt $image.Width 850 -}}
                <img width="{{ $image.Width }}" height="{{ $image.Height }}" src="{{ $image.RelPermalink }}"
                    alt="Featured image for {{ .Title }}" decoding="async" fetchpriority="high"
                    srcset="{{ $imgSrcSet }}" sizes="{{ site.Params.imageSizeString }}" />
                {{- else -}}
                <img width="{{ $image.Width }}" height="{{ $image.Height }}" src="{{ $image.RelPermalink }}"
                    alt="Featured image for {{ .Title }}" decoding="async" fetchpriority="high" />
                {{- end -}}
            </figure>
            {{- end -}}
            {{- end -}}
            {{ .Content }}
        </section>
    </div>
    {{ if eq .Section "posts" }}
    <nav class="navigation prevnext" aria-label="Post navigation">
        {{ $pages := .CurrentSection.Pages.ByWeight }}
        {{ with $pages.Prev . }}
        <span class="prev">← <a href="{{ .RelPermalink }}" rel="prev">{{ .Title }}</a></span>
        {{ end }}
        {{ with $pages.Next . }}
        <span class="next"><a href="{{ .RelPermalink }}" rel="next">{{ .Title }}</a> →</span>
        {{ end }}
        </div>
        {{ end }}
</article>
{{ end }}