<div class="content">
	<ul class="menu">
		{{ range .Site.Menus.footer.ByWeight }}
        <li><a title="{{ .Title }}" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
	</ul>
	<div class="copyright"> <span class="copyright-date">Copyright© {{ now.Year }}</span>{{- if isset .Site.Params "license" -}} | <a
			title="{{ .Site.Params.License.Title }}"
			href="{{ .Site.Params.License.Link }}" rel="license">{{ .Site.Params.License.Name }}</a>{{- end -}} |
		<a href="/policies/">Policies</a>
	</div>
</div>