<div class="content">
    {{- $image := "" -}}
    {{- if isset .Site.Params "headericon" -}}
    {{- $image = resources.Get .Site.Params.HeaderIcon -}}
    {{- end -}}
    <span class="site-title"><a href="{{ .Site.BaseURL }}">{{- if isset .Site.Params "headericon" -}}<img
                src="{{$image.RelPermalink}}" alt="" />{{- end -}}
            {{.Site.Title}}</a></span>
    <ul class="menu">
        {{ range .Site.Menus.main.ByWeight }}
        <li><a title="{{ .Title }}" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
</div>