{{ define "main" }}
<article class="h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
    <div class="container">
        <div class="content-header">
            <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
            {{if eq .Section "posts"}}
            <div class="meta">
                <time class="dt-published">{{ dateFormat "Monday, 2 January, 2006" .Date }}</time> | <span class="reading-time">{{ .ReadingTime }} min read</span>
            </div>
            {{ end }}
            {{if eq .Section "posts"}}{{if .Params.tags }}
            <div class="tags">
                {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}{{ end }}
        </div>

        <div class="content e-content" itemprop="articleBody">
            {{- with $featured_image := index .Params.images 0 -}}
            {{- $image := resources.Get $featured_image -}}
            {{- with $image -}}
            {{- $imgSrcSet := slice -}}
            {{- with $widths := site.Params.imageSizes -}}
            {{- range $widths -}}
            {{- $srcUrl := (printf "%gx" . | $image.Resize).RelPermalink -}}
            {{- $imgSrcSet = $imgSrcSet | append (printf "%s %gw" $srcUrl .) -}}
            {{- end -}}
            {{- $imgSrcSet = (delimit $imgSrcSet ",") -}}
            {{- end -}}
            <figure>
                <img width="{{ $image.Width }}" height="{{ $image.Height }}" src="{{ $image.RelPermalink }}" alt="{{ $.Title }}" decoding="async" fetchpriority="high"{{ if $imgSrcSet }} srcset="{{ $imgSrcSet }}" sizes="{{ site.Params.imageSizeString }}"{{ end }} />
            </figure>
            {{- end -}}
            {{- end -}}
            {{ .Content}}
        </div>
    </div>
    {{if eq .Section "posts"}}
    <nav class="navigation prevnext" aria-label="Posts pagination">
        {{ $pages := .CurrentSection.Pages.ByWeight }}
        {{ with $pages.Prev . }}
        <a class="prev" href="{{ .RelPermalink }}" rel="prev">← {{ .Title }}</a>
        {{ end }}
        {{ with $pages.Next . }}
        <a class="next" href="{{ .RelPermalink }}" rel="next">{{ .Title }} →</a>
        {{ end }}
    </nav>
    {{ end }}
</article>
{{ end }}