{{ define "main" }}
<article class="archive">
    <div class="container">
        {{- $pages := .Pages -}}
        <header class="content-header">
            <h1 class="title post-title p-name" itemprop="name headline">All posts in: <span id="search-term" class="term">{{ .Title }}</span></h1>
            <p class="description"><span class="post-count">{{ $pages.Len }}</span> posts found.</p>
        </header>
        {{ partial "form.html" . }}
        {{- if eq .Data.Singular .Kind "category" -}}
        <nav class="content-categories" aria-label="Category filters">
            <p class="categories-label">Filter Posts:</p>
            <ul class="categories">
                <li><a href="/blog" class="category">All Posts</a></li>
                {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                <li><a href="/categories/{{ $name }}/" class="category">{{ title $name }}</a></li>
                {{- end }}
            </ul>
        </nav>
        {{- end -}}
        {{ partial "posts-grouped.html" $pages }}
    </div>
</article>
{{ end }}
