{{ define "main" }}
<article class="archive">
    <div class="container">
        {{- $pages := .Pages -}}
        <div class="content-header">
            <h1 class="title post-title p-name" itemprop="name headline">All posts in: <span id="search-term" class="term">{{ .Title }}</span></h1>
            <p class="description"><span class="post-count">{{ $pages.Len }}</span> posts found.</p>
        </div>
        {{ partial "form.html" . }}
        {{- if eq .Data.Singular .Kind "category" -}}
        <div class="content-categories">
            <div class="categories"> Filter Posts:
                <a href="/blog" class="category">All Posts</a>
                {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                <a href="/categories/{{ $name }}/" class="category">{{ title $name }}</a>
                {{- end }}
            </div>
        </div>
        {{- end -}}
        {{ partial "posts-grouped.html" $pages }}
    </div>
</article>
{{ end }}
